
body {
  padding-top: 0px;
  background-color: #19934c;

  font-family: ClearSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.navbar-custom {
  background-color: #19934c;
}

.navbar-header .navbar-brand img {
  margin: 0;
  width: 127px;
}


.navbar .navbar-header button.navbar-toggle,
nav ul li a, nav ul li a:active,
nav ul li a:hover {
  font-weight: 200;
  color: #fcfffb;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
