
body {
  padding-top: 0px;
  background-color: #19934c;

  font-family: ClearSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.navbar-custom {
  background-color: #19934c;
}

.navbar-header .navbar-brand img {
  margin: 0;
  width: 127px;
}


.navbar .navbar-header button.navbar-toggle,
nav ul li a,
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #19934c;
  font-weight: 200;
  color: #fcfffb;
}

.container {
  padding-top: 50px;
}

.form-element {
  margin: 10px 0px;
}

.invalid {
  visibility: hidden;
}
.valid {
  color: #009933;
  font-weight: 800;
}

.white {
  color: #fff;
}
.white a, .white a:focus, .white a:hover {
  color: #fff;
}

.register-form {
  max-width: 600px;
  background-color: #126735;
  padding: 20px;
}

.btn.btn-register {
  color: #fcfffb;
  background-color: #ea5ca1;
  background-image: linear-gradient(to bottom, #ea5ca1, #ea5ca1);
  border-color: #f43a9c #f43a9c #f43a9c;
}

.btn.btn-register:hover {
  color: #fcfffb;
  background-color: #ea5ca1;
  background-image: linear-gradient(to bottom, #ea5ca1, #ea5ca1);
  border-color: #f43a9c #f43a9c #f43a9c;
}

.btn.btn-default {
  color: #19934c;
  background-color: #fcfffb;
  background-image: linear-gradient(to bottom, #fcfffb, #fcfffb);
  border-color: #196200 #196200 #196200;
}

.btn.btn-default:hover {
  color: #19934c;
  background-color: #fcfffb;
  background-image: linear-gradient(to bottom, #fcfffb, #fcfffb);
  border-color: #196200 #196200 #196200;
}
