
body {
  padding-top: 0px;
  background-color: #19934c;

  font-family: ClearSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.navbar-custom {
  background-color: #19934c;
}

.navbar-header .navbar-brand img {
  margin: 0;
  width: 127px;
}


.navbar .navbar-header button.navbar-toggle,
nav ul li a,
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #19934c;
  font-weight: 200;
  color: #fcfffb;
}

.container {
  padding-top: 50px;
}

.white {
  color: #fff;
}
.white a, .white a:focus, .white a:hover {
  color: #fff;
}